<!-- templates/form.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Document Form</title>
</head>
<body>
    <form action="/submit" method="post">
        Name: <input type="text" name="name"><br>
        Last Name: <input type="text" name="lastname"><br>
        Tax Code: <input type="text" name="taxcode"><br>
        Date: <input type="text" name="date"><br>
        Address: <input type="text" name="address"><br>
        Phone: <input type="text" name="phone"><br>
        Email: <input type="text" name="email"><br>
        Position: <input type="text"  name="position"><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>